---
layout: default
---
<div ng-controller="specialDetail">
<section class="global-container banner-onscroll content-top-margin"> {% include special-details-carousel.html %} </section>
<section class="container global-container room-container">
  <div class="row">
    <div class="col-md-12 sublinks">
      <ul>
        <li ng-repeat="offering in offer.special_rates"><a ng-click="reloadPage"  ng-href="/special/?[[offering.rate_plan_name | formatNameForLink]]" title="[[offering.rate_plan_name | formatNameForLink]]">[[offering.rate_plan_name | filterHtmlChars]]</a></li>

      </ul>
    </div>
  </div>
</section>
<section class="style-comfort-section dine-comfort-section">
<img src="/assets/images/dine-flower.png" class="dine-flower" alt="Flower">
  <div class="global-container">
    <div class="container ">
      <div class="dine-stay-container row ">


        <div class=" col-sm-12 col-md-8 ">
        <div class="dine-conent pull-right">

            <h2 class="text-bold">[[specialOffer.rate_plan_name | filterHtmlChars]]</h2>
            <h3 class="text-cursive text-left">Feast for all senses</h3>
            <p> [[specialOffer.long_description | filterHtmlChars]] </p>
            <div class="transparant-button-brown  ">
            <a ng-href="https://thepadrehotel.reztrip.com/en/special_offer?rate_code=[[specialOffer.rate_plan_code]]" class="hover-transition"  target="_blank" title="Book this offer">Book this offer</a>
            </div>
         <div class="dine-shadow"></div>

          </div>


           <div>
           </div>

          <div class=" clearfix"></div>
         </div>
        <div class="col-sm-12   col-md-4  facilities-section  ">
         <h6>WHY BOOK DIRECT</h6>
          <ul>
            <li>Best Rate Guarantee</li>
            <li>Exclusive Special Offers</li>
            <li>Easily Modify Reservations</li>

          </ul>
        </div>

     <div class="dine-conent-img-palce pull-right">
    <img ng-src="[[specialOffer.lead_photo_url.large]]" class="img-width" alt="[[specialOffer.rate_plan_name | filterHtmlChars]]"/></div>

      </div>



    </div>
  </div>
</section>
<section class="global-container ">
    <div class="row  no-gutter">
      <div class="col-sm-12">
        <div class="gallery-banner newsletter  ">
          <div class="row bg-text">exclusive <span>padre hotel newsletter</span> </div>
          <p>Get the all the #hotelhapps! From ticket giveaways to exclusive parties,<br>
            you'll be the first to receive insider info on life at The Padre!</p>
              <span id="success_message" style="display:none;">
           <div style="text-align:center;">Thanks for signing up!</div>
       </span>
       <script type="text/javascript" src="//contact-api.inguest.com/bundles/revinatecontactapi/js/revinate-form.js?v=1"></script>
       <form id="revinate_contact_api_form" token="3fc566d6-8717-4a88-9d0e-c0bf455636f9" onsubmit="revFormOnSubmit(); event.preventDefault();">
           
          <div class="newsletter-form center-block">
            <div class="row ">
              <div class="col-md-6 ">

                 
               
                <input type="text" class="textbox ctct-form-required" size="10" placeholder="First Name" name="firstName"/>
              </div>
              <div class="col-md-6">
                <input type="text" class="textbox ctct-form-required" size="10" placeholder="Last Name" name="lastName"/>

              </div>
              <div class="col-md-4 ">  
                
              <input type="text" class="textbox ctct-form-required" size="10" placeholder="Zip Code" name="zipCode"/>
              </div>
              <div class="col-md-4 ">
                <input type="text" class="textbox ctct-form-required" size="10" placeholder="Email Address" name="email"/>
              </div>
           
              <div class="col-md-4">

                <button type="submit" class="form-btn" title="subscrribe" name="subscrribe" id="subscrribe" aria-label="subscrribe"  data-enabled="enabled">SUBSCRIBE</button>
              </div>
            </div>
          </div>
          </form>
          
   
        </div>
        <hr class="border-single-bottom">
        <div class="row discover-list-container " rt3-rooms-browser="browser" ng-cloak>
          <h3 class="text-bold ">discover more rooms</h3>
          <data-owl-carousel id ="owl-example" class="owl-carousel" data-options="{navigation: true,  pagination: true, rewindNav : false,  navigationText:				['&#8249;','&#8250;'], items : 3, itemsMobile:[479,1], itemsTablet:[800,2], itemsDesktop:[1220,3],	 responsive : true}">
            <div owl-carousel-item="" ng-repeat="list in :: browser.roomsList" class="item" > <img  ng-src="[[list.photos[0].yankee_large]]" alt="[[list.name]]"> <a ng-href="/room/?[[list.name | formatNameForLink]]" title="[[list.name]] ">[[list.name]] </a> </div>
          </data-owl-carousel>
        </div>
        <hr class="hr-border">
      </div>
    </div>
  </section>
</div>
